html{
  color:grey;
}
#pocket{
  position:absolute;
  top:250px;
  left:250px;
  overflow:visible;
}
g{
  transform-origin:12% 45%;
  opacity:0.15;
  fill:white;
  stroke-width:3px;
}
#titletext{
  opacity:0;
  font-size:100px;
  fill:pink;
  font-family:fantasy;
  transform: translateY(50px);
}
svg{
  overflow:visible;
}